<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cms.org"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-permission
        android:name="android.permission.INTERNET" />
      
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".CMS"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
  		<activity android:name=".fillup" android:label="@string/Fillup_Text_Title"></activity>
		<activity android:name=".maint" android:label="@string/Maint_Text_Title"></activity>
        <activity android:name=".info" android:label="@string/Info_Text_Title"></activity>
        <activity android:name=".about"	android:label="@string/About_Text_Title" android:theme="@android:style/Theme.Dialog"/> 
        <activity android:name =".settings" android:label="@string/Settings_Text_Title"></activity>
    </application>
</manifest>